[Desktop Entry]
Type=Application
Name=OmaStore
Comment=Discover applications and setups for Omarchy
Exec=omastore %u
TryExec=omastore %u
Icon=system-software-install
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
MimeType=x-scheme-handler/omastore;
